<header class="mat-elevation-z6">
    <div class="content row">
        <div class="row header-content">
            <!-- <div class="bear icon"></div> -->
            <h1>PALABREO</h1>
            <a mat-raised-button color="accent" routerLink="/words">All Words</a>
        </div>
    </div>
</header>
<main style="height: calc(100vh - 170px);" class="bear flex flex-col overflow-y-scroll">
    <router-outlet></router-outlet>
</main>
<footer class="w-full">
    <div class="content row">
        <div class="mat-caption">ONIVORO.COM, LLC 2022</div>
    </div>
</footer>