@import '../../../styles/variables';

:host {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;

    mat-card {
        width: auto;
    }

    mat-card {
        display: grid;
        place-items: center;
    }

    .flag {
        border-bottom: dashed 3px $primary-color;
        margin-bottom: 1rem;
    }
}