@tailwind base;
@tailwind components;
@tailwind utilities;

.bear {
  background-image: url(/assets/bear.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@layer base {
  :root {
    --base: rgba(0, 0, 0, 0.8);
    --base-muted: rgba(0, 0, 0, 0.54);

    --contrast: rgba(255, 255, 255, 1);
    --contrast-muted: rgba(255, 255, 255, 0.54);

    --accent: limegreen;
    --accent-contrast: #000000;

    --primary: midnightblue;
    --primary-contrast: #ffffff;

    --warn: darkorange;
    --warn-contrast: #ffffff;
  }
}

@import 'node_modules/@onivoro/angular-styles/src/index';

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--base-muted);
}